<div class="eshop-section section">
    <div class="container">
        <h2>Book store</h2>
        <div>
            <div ng-repeat="item in $ctrl.items">
                <div class="shop-item row" >
                    <div class="image col-lg-5 col-md-5 col-sm-5">
                        <a><img ng-src="{{ item.description.cover }}" ng-alt="{{ item.description.title }}"></a>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5">
                        <div class="title">
                        <h3><a>{{ item.description.title }}</a></h3>
                        </div>
                        <div class="price">
                            {{ item.price |number: 2 }} €
                        </div>
                        <div class="actions">
                            <a class="btn btn-small" ng-click="$ctrl.addBookToPanier(item)">
                                <i class="icon-shopping-cart icon-white"></i> Add
                            </a> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>