<div class="mainmenu-wrapper">
    <div class="container">
        <div class="menuextras">
            <div class="extras">
                <ul>
                    <li class="shopping-cart-items">
                        <i class="glyphicon glyphicon-shopping-cart icon-white"></i> 
                        <a href="#/commande">
                            <b>{{ $ctrl.items }} items</b>
                            <b>Price {{ $ctrl.amount }} €</b>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>